<!doctype html>
<html>
<head>
  {{ content_for_header }}
</head>
<body style="background:red;color:white;padding:40px;font-family:sans-serif;">
  <h1>TEST - password.liquid is rendering</h1>
  <main id="MainContent" class="password-main">
    {{ content_for_layout }}
  </main>
</body>
</html>
