{% layout 'password' %}

<div class="pw-password-form-content">
  {% form 'storefront_password', id: 'login_form' %}
    {{ form.errors | default_errors }}
    <input
      type="password"
      name="password"
      id="password"
      autocomplete="current-password"
    >
  {% endform %}
</div>
